@import "../../assets/styles/mixines";

.HumburgerMenu {
  display: none;
  @include break($breakpoint_xl) {
    display: block;
  }
}

.List {
  display: none;
  @include break($breakpoint_xl) {
    display: block;
  }
}


.WrapperSideBar > div:nth-child(3) {
  top: 90px;
  min-width: 40%;

  .Link {
    > span {

      font-family: "Proxima-Regular" !important;
      font-size: 20px !important;
      line-height: 35px !important;
      letter-spacing: 0.01em;
      text-align: left !important;
      font-weight: 400;
    }

  }
}