@import "../../assets/styles/mixines";
@import "../../assets/styles/variables";

.Wrapper {
  @include Wrapper;

  @include break(700px) {
   padding: 60px 25px;
  }
  .Container {
    @include MainContainer;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(17.23% 66.51% at -9.36% 120.33%, #cdf0fd 0, rgba(205, 240, 253, 0) 100%), radial-gradient(31.33% 59.46% at .98% 96.22%, #e5e7ff 0, rgba(229, 231, 255, 0) 100%), radial-gradient(41.82% 116.78% at 70.23% 89.24%, #e5e7ff 0, rgba(229, 231, 255, 0) 100%), radial-gradient(33.76% 146.14% at 103.48% -11.7%, #c5d7fa 0, rgba(197, 215, 250, 0) 100%), radial-gradient(67.2% 114.66% at -6.29% -14.66%, #c5d7fa 0, rgba(197, 215, 250, 0) 100%), #fdfdfd;
    box-shadow: 0 8px 40px rgba(151, 197, 222, .1);
    border-radius: 15px;
    border: 0;
    padding: 0 34px;
    @include break($breakpoint_xl) {
      padding: 20px 34px;
    }
    @include break(700px) {
      flex-direction: column;
    }

    .Description {
      @include FLexCol;
      row-gap: 24px;

      h2 {
        color: rgb(89, 71, 221);
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        font-family: "Proxima-Regular";
        text-align: left;

        span {
          color: rgb(60, 60, 60);
        }
      }

      p {
        font-family: "Proxima-Regular";
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #3c3c3c;
        text-align: left;
        max-width: 520px;

        span {
          display: block;
          margin-top: 24px;
        }
      }

      .BtnConnect {
        @include BtnConnect;
        max-width: 220px;
      }
    }

    .Card {
      width: 100%;
      max-width: 400px;
      height: 100%;
      max-height: 450px;
      @include break(700px) {
        display: none;
      }
    }

  }
}